<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymelead.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template.html}"
>

<head>
    <title>Lista de filmes</title>
</head>
<body>

<div layout:fragment="conteudo">


    <h1>Lista de filmes</h1>
    <a href="/filmes/formulario">Novo</a>
<table>
    <thead>
    <tr>
        <th>NOME</th>
        <th>DURAÇÃO</th>
        <th>ANO DE LANÇAMENTO</th>
        <th>GÊNERO</th>
        <th>Ações</th>
    </tr>
    </thead>
    <TBODY>
        <tr th:each="filme : ${lista}">
            <td th:text="${filme.nome}"></td>
            <td th:text="${filme.duracaoEmMinutos}"></td>
            <td th:text="${filme.anoLancamento}"></td>
            <td th:text="${filme.genero}"></td>

            <td>
                <form action="/filmes" method="POST">
                    <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Excluir">
                </form>
            </td>
        </tr>

    </TBODY>
</table>
</div>


</body>
</html>